@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You have found where Charles Broderick publishes his ASP .Net Core Coursework.</p>
    <p>You can make API requests by sending a GET request to http://cis174cwbroderick.azurewebsites.net/Api/person/3</p>
</div>
